body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

nav {
    margin: 20px 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

form label {
    margin-top: 10px;
}

form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #4cae4c;
}

#lista-productos, #lista-pedidos, #estado-cuenta-detalle {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#lista-productos div, #lista-pedidos div, #estado-cuenta-detalle div {
    margin-bottom: 10px;
}
